#banner
	.banner_content
		%h1 Notebook App
		%p My online notebook
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The wind, however, did not grow as boisterous as might have been feared; it was not one of those tempests which burst, and rush on with a speed of ninety miles an hour!"
		%p.name - Jules Verne

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p My guard halted before one of the huts into which I was pushed; then two of the creatures squatted down before the entrance—to prevent my escape, doubtless. Though where I should have escaped to I certainly had not the remotest conception."

			.callout
				%h2 Notes
				%p "I am sorry," said the conductor; "but we shall be off at once. There's the bell ringing now." The train started.

			.callout
				%h2 Notes
				%p Granser promptly began to weep, while Edwin hotly took up his defence. "Look here, Hare-Lip, you believe in lots of things you can't see." Hare-Lip shook his head. "You believe in dead men walking about. You never seen one dead man walk about." "I tell you I seen 'em, last winter, when I was wolf-hunting with dad."

#bottom_cta
	.wrapper
		%h2 Now
		%p Just sign up...
		%button= link_to "Don't click here!", new_user_registration_path

%footer
	%p PT 